<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Angular bootstrap calendar demo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="docs/bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="src/css/calendar.css">
    <link rel="stylesheet" href="docs/styles/main.css">
  </head>
  <body ng-app="mwl.calendar">

    <a href="https://github.com/mattlewis92/angular-bootstrap-calendar" class="hidden-xs"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
    <!-- Add your site or application content here -->
    <div class="container-fluid">
      <div class="header row">
        <h3 class="text-muted col-md-8 col-md-offset-2">Angular Bootstrap Calendar</h3>
      </div>

      <div class="row" ng-controller="MainCtrl">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="text-center">{{ calendarControl.getTitle() }}</h2>

          <div class="row">

            <div class="col-md-6 text-center">
              <div class="btn-group">

                <button class="btn btn-primary" ng-click="calendarControl.prev()">Previous</button>
                <button class="btn btn-default" ng-click="setCalendarToToday()">Today</button>
                <button class="btn btn-primary" ng-click="calendarControl.next()">Next</button>
              </div>
            </div>

            <br class="visible-xs visible-sm">

            <div class="col-md-6 text-center">
              <div class="btn-group">
                <label class="btn btn-primary" ng-model="calendarView" btn-radio="'year'">Year</label>
                <label class="btn btn-primary" ng-model="calendarView" btn-radio="'month'">Month</label>
                <label class="btn btn-primary" ng-model="calendarView" btn-radio="'week'">Week</label>
                <label class="btn btn-primary" ng-model="calendarView" btn-radio="'day'">Day</label>
              </div>
            </div>

          </div>

          <br>

          <mwl-calendar
            calendar-events="events"
            calendar-view="calendarView"
            calendar-current-day="calendarDay"
            calendar-control="calendarControl"
            calendar-title="title"
            calendar-event-click="eventClicked($event)"
            ></mwl-calendar>
        </div>
      </div>

    </div>

    <script src="docs/bower_components/moment/moment.js"></script>
    <script src="docs/bower_components/angular/angular.js"></script>
    <script src="docs/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="src/app.js"></script>
    <script src="docs/scripts/controllers/main.js"></script>
    <script src="src/directives/mwlcalendar.js"></script>
    <script src="src/services/calendarhelper.js"></script>
    <script src="src/services/moment.js"></script>
    <script src="src/directives/mwlcalendaryear.js"></script>
    <script src="src/directives/mwlcalendarmonth.js"></script>
    <script src="src/directives/mwlcalendarweek.js"></script>
    <script src="src/directives/mwlcalendarday.js"></script>
</body>
</html>
