<div class="events-list" ng-show="day.events.length > 0">
  <a
    ng-repeat="event in day.events | orderBy:'startsAt' track by $index"
    href="javascript:;"
    ng-click="onEventClick({calendarEvent: event})"
    class="pull-left event"
    ng-class="'event-' + event.type + ' ' + event.cssClass"
    ng-mouseenter="vm.highlightEvent(event, true)"
    ng-mouseleave="vm.highlightEvent(event, false)"
    tooltip-append-to-body="true"
    tooltip="{{ (event.startsAt | date:'HH:mm') + ' - ' + event.title }}"
    mwl-calendar-draggable
    on-drop="vm.onEventDrop(event, dropData.date)">
  </a>
</div>
