<div class="cal-context" ng-switch="view">

  <div class="alert alert-danger" ng-switch-default>The value passed to calendar-view is not set</div>

  <mwl-calendar-year
    events="events"
    current-day="currentDay"
    event-click="eventClick"
    edit-event-click="eventEditClick"
    delete-event-click="eventDeleteClick"
    edit-event-html="editEventHtml"
    delete-event-html="deleteEventHtml"
    auto-open="autoOpen"
    timespan-click="timespanClick"
    ng-switch-when="year"
  ></mwl-calendar-year>

  <mwl-calendar-month
    events="events"
    current-day="currentDay"
    event-click="eventClick"
    edit-event-click="eventEditClick"
    delete-event-click="eventDeleteClick"
    edit-event-html="editEventHtml"
    delete-event-html="deleteEventHtml"
    auto-open="autoOpen"
    timespan-click="timespanClick"
    ng-switch-when="month"
    ></mwl-calendar-month>

  <mwl-calendar-week
    events="events"
    current-day="currentDay"
    event-click="eventClick"
    timespan-click="timespanClick"
    ng-switch-when="week"
    ></mwl-calendar-week>

  <mwl-calendar-day
    events="events"
    current-day="currentDay"
    event-click="eventClick"
    day-view-start="{{ dayViewStart }}"
    day-view-end="{{ dayViewEnd }}"
    day-view-split="{{ dayViewSplit || 30 }}"
    ng-switch-when="day"
    ></mwl-calendar-day>
</div>
