<div class="cal-slide-box" uib-collapse="vm.isCollapsed" mwl-collapse-fallback="vm.isCollapsed">
  <div class="cal-slide-content cal-event-list">
    <ul class="unstyled list-unstyled">

      <li
        ng-repeat="event in vm.events | orderBy:'startsAt' track by event.$id"
        ng-class="event.cssClass"
        mwl-draggable="event.draggable === true"
        drop-data="{event: event}">
        <span class="pull-left event" ng-class="'event-' + event.type" ng-style="{backgroundColor: event.color.primary}"></span>
        &nbsp;
        <a
          href="javascript:;"
          class="event-item"
          ng-click="vm.onEventClick({calendarEvent: event})">
          <span ng-bind-html="isMonthView ? vm.calendarEventTitle.monthView(event) : vm.calendarEventTitle.yearView(event) | calendarTrustAsHtml"></span>
        </a>

        <a
          href="javascript:;"
          class="event-item-edit"
          ng-if="vm.editEventHtml && event.editable !== false"
          ng-bind-html="vm.editEventHtml | calendarTrustAsHtml"
          ng-click="vm.onEditEventClick({calendarEvent: event})">
        </a>

        <a
          href="javascript:;"
          class="event-item-delete"
          ng-if="vm.deleteEventHtml && event.deletable !== false"
          ng-bind-html="vm.deleteEventHtml | calendarTrustAsHtml"
          ng-click="vm.onDeleteEventClick({calendarEvent: event})">
        </a>

        <a
          href="javascript:;"
          class="event-item-action"
          ng-class="action.cssClass"
          ng-repeat="action in event.actions track by $index"
          ng-bind-html="action.label | calendarTrustAsHtml"
          ng-click="action.onClick({calendarEvent: event})">
        </a>

      </li>

    </ul>
  </div>
</div>
