<div class="cal-context" ng-switch="view">

  <div class="alert alert-danger" ng-switch-default>The value passed to calendar-view is not set</div>

  <mwl-calendar-year
    events="events"
    current-day="currentDay"
    on-event-click="onEventClick"
    on-edit-event-click="onEditEventClick"
    on-delete-event-click="onDeleteEventClick"
    on-timespan-click="onTimespanClick"
    edit-event-html="editEventHtml"
    delete-event-html="deleteEventHtml"
    auto-open="autoOpen"
    ng-switch-when="year"
  ></mwl-calendar-year>

  <mwl-calendar-month
    events="events"
    current-day="currentDay"
    on-event-click="onEventClick"
    on-edit-event-click="onEditEventClick"
    on-delete-event-click="onDeleteEventClick"
    on-timespan-click="onTimespanClick"
    edit-event-html="editEventHtml"
    delete-event-html="deleteEventHtml"
    auto-open="autoOpen"
    ng-switch-when="month"
    ></mwl-calendar-month>

  <mwl-calendar-week
    events="events"
    current-day="currentDay"
    on-event-click="onEventClick"
    ng-switch-when="week"
    ></mwl-calendar-week>

  <mwl-calendar-day
    events="events"
    current-day="currentDay"
    on-event-click="onEventClick"
    day-view-start="dayViewStart"
    day-view-end="dayViewEnd"
    day-view-split="dayViewSplit || 30"
    ng-switch-when="day"
    ></mwl-calendar-day>
</div>
