<div class="cal-week-box" ng-class="{'cal-day-box': vm.showTimes}">
  <div class="cal-row-fluid cal-row-head">

    <div
      class="cal-cell1"
      ng-repeat="day in vm.view.days track by $index"
      ng-class="{
        'cal-day-weekend': day.isWeekend,
        'cal-day-past': day.isPast,
        'cal-day-today': day.isToday,
        'cal-day-future': day.isFuture}"
      mwl-element-dimensions="vm.dayColumnDimensions">

      <span ng-bind="day.weekDayLabel"></span>
      <br>
      <small>
        <span
          data-cal-date
          ng-click="vm.calendarCtrl.drillDown(day.date)"
          class="pointer"
          ng-bind="day.dayLabel">
        </span>
      </small>

    </div>

  </div>

  <div class="cal-day-panel clearfix" ng-style="{height: vm.showTimes ? (vm.dayViewHeight + 'px') : 'auto'}">
    <div class="row">
      <div class="col-xs-12">
        <div
          class="cal-row-fluid"
          ng-repeat="event in vm.view.events track by event.$id">
          <div
            ng-class="'cal-cell' + event.daySpan + ' cal-offset' + event.dayOffset + ' day-highlight dh-event-' + event.type + ' ' + event.cssClass"
            ng-style="{top: 'auto', position: 'inherit'}"
            data-event-class
            mwl-draggable="event.draggable === true"
            axis="'x'"
            snap-grid="{x: vm.dayColumnDimensions.width}"
            on-drag="vm.tempTimeChanged(event, y)"
            on-drag-end="vm.weekDragged(event, x, y)"
            mwl-resizable="event.resizable === true && event.endsAt"
            resize-edges="{left: true, right: true}"
            on-resize-end="vm.weekResized(event, edge, x)">
            <strong ng-bind="(event.tempStartsAt || event.startsAt) | calendarDate:'time':true" ng-show="vm.showTimes"></strong>
            <a
              href="javascript:;"
              ng-click="vm.onEventClick({calendarEvent: event})"
              class="event-item"
              ng-bind-html="vm.$sce.trustAsHtml(event.title)"
              tooltip-html-unsafe="{{ event.title }}"
              tooltip-placement="left"
              tooltip-append-to-body="true">
            </a>
          </div>
        </div>
      </div>

    </div>

    <mwl-calendar-hour-list
      day-view-start="vm.dayViewStart"
      day-view-end="vm.dayViewEnd"
      day-view-split="vm.dayViewSplit"
      current-day="vm.currentDay"
      on-timespan-click="vm.onTimespanClick"
      ng-if="vm.showTimes">
    </mwl-calendar-hour-list>
    <div class="row" ng-if="vm.showTimes">
      <div class="col-xs-12">
        <div
          class="cal-row-fluid"
          ng-repeat="event in vm.viewWithTimes.events track by event.$id">
          <div
            ng-class="'cal-cell' + 1 + ' cal-offset' + event.dayOffset + ' day-highlight dh-event-' + event.type + ' ' + event.cssClass"
            ng-style="{top: ((event.top + 2) + 'px'), position: 'absolute', height: event.height + 'px', left: event.left + '%', width: event.width + '%'}"
            data-event-class
            mwl-draggable="event.draggable === true"
            axis="vm.showTimes ? 'xy' : 'x'"
            snap-grid="{x: vm.dayColumnDimensions.width, y: 30}"
            on-drag="vm.tempTimeChanged(event, y)"
            on-drag-end="vm.weekDragged(event, x, y)"
            mwl-resizable="event.resizable === true && event.endsAt"
            resize-edges="{top: true, bottom: true}"
            on-resize="vm.eventResized(event, edge, y)"
            on-resize-end="vm.eventResizeComplete(event, edge, y)">
            <strong ng-bind="(event.tempStartsAt || event.startsAt) | calendarDate:'time':true"></strong>
            <a
              href="javascript:;"
              ng-click="vm.onEventClick({calendarEvent: event})"
              class="event-item"
              ng-bind-html="vm.$sce.trustAsHtml(event.title)"
              uib-tooltip-html="event.title | calendarTrustAsHtml"
              tooltip-placement="left"
              tooltip-append-to-body="true">
            </a>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
