<div
  class="cal-context"
  ng-switch="vm.view"
  ng-if="vm.templatesLoaded">

  <div class="alert alert-danger" ng-switch-default>The value passed to the view attribute of the calendar is not set</div>

  <div class="alert alert-danger" ng-hide="vm.viewDate">The value passed to view-date attribute of the calendar is not set</div>

  <mwl-calendar-year
    events="vm.events"
    view-date="vm.viewDate"
    on-event-click="vm.onEventClick"
    on-event-times-changed="vm.onEventTimesChanged"
    on-edit-event-click="vm.onEditEventClick"
    on-delete-event-click="vm.onDeleteEventClick"
    on-timespan-click="vm.onTimespanClick"
    edit-event-html="vm.editEventHtml"
    delete-event-html="vm.deleteEventHtml"
    cell-is-open="vm.cellIsOpen"
    cell-modifier="vm.cellModifier"
    slide-box-disabled="vm.slideBoxDisabled"
    ng-switch-when="year">
  </mwl-calendar-year>

  <mwl-calendar-month
    events="vm.events"
    view-date="vm.viewDate"
    on-event-click="vm.onEventClick"
    on-event-times-changed="vm.onEventTimesChanged"
    on-edit-event-click="vm.onEditEventClick"
    on-delete-event-click="vm.onDeleteEventClick"
    on-timespan-click="vm.onTimespanClick"
    edit-event-html="vm.editEventHtml"
    delete-event-html="vm.deleteEventHtml"
    cell-is-open="vm.cellIsOpen"
    cell-modifier="vm.cellModifier"
    slide-box-disabled="vm.slideBoxDisabled"
    ng-switch-when="month">
  </mwl-calendar-month>

  <mwl-calendar-week
    events="vm.events"
    view-date="vm.viewDate"
    on-event-click="vm.onEventClick"
    on-event-times-changed="vm.onEventTimesChanged"
    day-view-start="vm.dayViewStart"
    day-view-end="vm.dayViewEnd"
    day-view-split="vm.dayViewSplit"
    on-timespan-click="vm.onTimespanClick"
    ng-switch-when="week">
  </mwl-calendar-week>

  <mwl-calendar-day
    events="vm.events"
    view-date="vm.viewDate"
    on-event-click="vm.onEventClick"
    on-event-times-changed="vm.onEventTimesChanged"
    on-timespan-click="vm.onTimespanClick"
    day-view-start="vm.dayViewStart"
    day-view-end="vm.dayViewEnd"
    day-view-split="vm.dayViewSplit"
    ng-switch-when="day">
  </mwl-calendar-day>
</div>
