<div class="cal-slide-box" collapse="shouldCollapse" mwl-collapse-fallback="shouldCollapse">
  <div class="cal-slide-content cal-event-list">
    <ul class="unstyled list-unstyled">

      <li ng-repeat="event in openEvents track by $index">
        <span class="pull-left event" ng-class="'event-' + event.type"></span>
        &nbsp;
        <a
          href="javascript:;"
          class="event-item"
          ng-click="eventClick({calendarEvent: event})">
          {{ event.title }}
          <span ng-show="isMonthView">({{ event.starts_at | date:'shortTime' }})</span>
          <span ng-show="isYearView">({{ event.starts_at | date:'MMM d, h:mm a' }})</span>
        </a>

        <a
          href="javascript:;"
          class="event-item-edit"
          ng-if="editEventHtml && event.editable !== false"
          ng-bind-html="$sce.trustAsHtml(editEventHtml)"
          ng-click="eventEditClick({calendarEvent: event})">
        </a>

        <a
          href="javascript:;"
          class="event-item-delete"
          ng-if="deleteEventHtml && event.deletable !== false"
          ng-bind-html="$sce.trustAsHtml(deleteEventHtml)"
          ng-click="eventDeleteClick({calendarEvent: event})">
        </a>
      </li>

    </ul>
  </div>
</div>
