<div class="cal-context" ng-switch="view">

  <div class="alert alert-danger" ng-switch-default>The value passed to calendar-view is not set</div>

  <mwl-calendar-year
    calendar-events="events"
    calendar-current-day="currentDay"
    calendar-event-click="eventClick"
    calendar-edit-event-click="eventEditClick"
    calendar-delete-event-click="eventDeleteClick"
    calendar-edit-event-html="editEventHtml"
    calendar-delete-event-html="deleteEventHtml"
    calendar-auto-open="autoOpen"
    calendar-timespan-click="timespanClick"
    ng-switch-when="year"
  ></mwl-calendar-year>

  <mwl-calendar-month
    calendar-events="events"
    calendar-current-day="currentDay"
    calendar-event-click="eventClick"
    calendar-edit-event-click="eventEditClick"
    calendar-delete-event-click="eventDeleteClick"
    calendar-edit-event-html="editEventHtml"
    calendar-delete-event-html="deleteEventHtml"
    calendar-auto-open="autoOpen"
    calendar-use-iso-week="useIsoWeek"
    calendar-timespan-click="timespanClick"
    ng-switch-when="month"
    ></mwl-calendar-month>

  <mwl-calendar-week
    calendar-events="events"
    calendar-current-day="currentDay"
    calendar-event-click="eventClick"
    calendar-use-iso-week="useIsoWeek"
    calendar-timespan-click="timespanClick"
    ng-switch-when="week"
    ></mwl-calendar-week>

  <mwl-calendar-day
    calendar-events="events"
    calendar-current-day="currentDay"
    calendar-event-click="eventClick"
    calendar-event-label="{{ eventLabel }}"
    calendar-time-label="{{ timeLabel }}"
    calendar-day-view-start="{{ dayViewStart }}"
    calendar-day-view-end="{{ dayViewEnd }}"
    calendar-day-view-split="{{ dayViewSplit || 30 }}"
    ng-switch-when="day"
    ></mwl-calendar-day>
</div>
