<div class="cal-row-fluid cal-row-head">

  <div class="cal-cell1" ng-repeat="day in weekDays track by $index">{{ day }}</div>

</div>
<div class="cal-month-box">

  <div ng-repeat="week in view track by $index">
    <div class="cal-row-fluid cal-before-eventlist">
      <div
        class="cal-cell1 cal-cell {{ day.highlightClass }}"
        ng-repeat="day in week track by $index"
        ng-click="dayClicked($parent.$index, $index)"
        ng-class="{pointer: day.events.length > 0}">

        <div ng-include="'templates/calendarMonthDay.html'"></div>
      </div>
    </div>

    <mwl-calendar-slide-box is-open="!week.isOpened"></mwl-calendar-slide-box>

  </div>

</div>
