<div class="cal-row-fluid cal-row-head">

  <div class="cal-cell1" ng-repeat="day in vm.weekDays track by $index">{{ day }}</div>

</div>
<div class="cal-month-box">

  <div ng-repeat="rowOffset in vm.monthOffsets track by rowOffset">
    <div class="cal-row-fluid cal-before-eventlist">
      <div
        ng-repeat="day in vm.view | calendarLimitTo:7:rowOffset track by $index"
        class="cal-cell1 cal-cell {{ day.highlightClass }}"
        ng-click="vm.dayClicked(day)"
        ng-class="{pointer: day.events.length > 0}">

        <div ng-include="'templates/calendarMonthDay.html'"></div>
      </div>
    </div>

    <mwl-calendar-slide-box
      is-open="vm.openRowIndex === $index"
      is-month-view="true"
      events="vm.openEvents"
      event-click="eventClick"
      edit-event-html="editEventHtml"
      event-edit-click="eventEditClick"
      delete-event-html="deleteEventHtml"
      event-delete-click="eventDeleteClick">
    </mwl-calendar-slide-box>

  </div>

</div>
