<div class="cal-week-box">
  <div class="cal-row-fluid cal-row-head">

    <div class="cal-cell1" ng-repeat="column in view.columns track by $index" ng-class="{'cal-day-weekend': $index > 4, 'cal-day-today': column.isToday}">{{ column.weekDay }}<br>
      <small>
        <span data-cal-date ng-click="drillDown(column.day)" class="pointer">{{ column.date }}</span>
      </small>
    </div>


  </div>

  <div class="cal-row-fluid" ng-repeat="event in view.events track by $index">
    <div class="cal-cell{{ event.daySpan }} cal-offset{{ event.dayOffset }} day-highlight dh-event-{{ event.type }}" data-event-class>
      <a href="javascript:;" ng-click="eventClick({$event: event})" class="cal-event-week">
        {{ event.title }}
      </a>
    </div>
  </div>


</div>
