<div class="cal-year-box">
  <div ng-repeat="year in view track by $index">
    <div class="row cal-before-eventlist">
      <div class="span3 col-md-3 col-xs-6 cal-cell" ng-repeat="month in year track by $index" ng-click="monthClicked($parent.$index, $index)" ng-class="{pointer: month.events.length > 0, 'cal-day-today': month.isToday}">
        <span class="pull-right" data-cal-date ng-click="drillDown(month.monthIndex)">{{ month.label }}</span>

        <small class="cal-events-num badge badge-important pull-left" ng-show="eventCountBadgeTotalFilter(month.events) > 0">{{ month.events | eventCountBadgeTotal }}</small>

        <div class="cal-day-tick" ng-show="month.isOpened">
          <i class="glyphicon glyphicon-chevron-up"></i>
          <i class="fa fa-chevron-up"></i>
        </div>

      </div>
    </div>

    <mwl-calendar-slide-box is-open="!year.isOpened"></mwl-calendar-slide-box>

  </div>

</div>
